body{
    background-color:rgba(139, 212, 214, 0.849);
    width: 100vw;
    height: 100vh;
}
/////////////////////////////////////////////////////////////////////////////
////////////////////  Header med profilbild och titel //// //////////////////
/////////////////////////////////////////////////////////////////////////////

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 128, 128, 0.4);
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 4rem;
    text-align: center;
    color: $rubrik;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    z-index: 98;
    bottom: 10px;
    margin: 0;
    }

.min-bild{
        border-radius: 50%;
        position: absolute;
        width: 250px;
        bottom: 10px;
}


/////////////////////////////////////////////////////////////////////////////
////////////////////  Main med två sektioner lodrätt  //// /////////////////
/////////////////////////////////////////////////////////////////////////////

main {

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    
                
}

h2{
    color:$rubrik;
    font-size: 1rem;
    letter-spacing: 5px;
    margin: 0%;

}

.om-mig {
    
    text-align: center;
    line-height: 1.8;
    font-size: 0.8rem;

    article{
        padding: 5px;
    }

    .skills {
        font-size: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    ul{ 
        list-style-position: inside;
        padding-left: 0;
    
        li {
            list-style: none;
            text-align: center;
            line-height: 2.5;
            
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////
/// Arbetsprover som ska bli en rullande carousel med hjälp av java längre fram /////////
////////////////////////////////////////////////////////////////////////////////////////

.arbetsprover {

    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    column-gap: 3%;
    text-align: center;
    gap: 30px;

    .arbetsprov1
    {
        border-radius: 10%;
        width: 60%;
    }

    .arbetsprov2
    {
        border-radius: 10%;
        width: 60%;   
    }

    .arbetsprov3
    {
        border-radius: 10%;
        width: 60%;   
    }
}

/////////////////////////////////////////////////////////////////////////////
////////////////////  Footer med länkar till sociala medier //// /////////
/////////////////////////////////////////////////////////////////////////////

footer {
    background-color: rgba(0, 128, 128, 0.4);
    padding-top: 25px;
    height: 15%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.konamiCode {
    color:rgba(100, 156, 156, 0.4);
    font-weight: bolder;
    font-size: 0.5rem;
}

.email {
    margin: 10px;
}

.linkedin {
    margin: 10px;
}

.github{
    margin: 10px;
}

.secretContainer{
    position: fixed;
    bottom: -1000px;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.secret{
    position: relative;
    z-index: 99;
}