body{
    background-color:rgba(139, 212, 214, 0.849);
    width: 100vw;
    height: 100vh;
}

/////////////////////////////////////////////////////////////////////////////
////////////////////  Header med profilbild och titel //// //////////////////
/////////////////////////////////////////////////////////////////////////////

header {

    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    background-color: rgba(0, 128, 128, 0.4);

}

h1{
    
    position: absolute;
    font-size: 5rem;
    color:$rubrik;
    font-family: 'Ubuntu', sans-serif;
    z-index: 98;
    bottom: 10px;
    margin: 0%;
}

.min-bild{
        border-radius: 50%;
        position: absolute;
}


/////////////////////////////////////////////////////////////////////////////
////////////////////  Main med två sektioner vänster och höger //// /////////
/////////////////////////////////////////////////////////////////////////////

main {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    row-gap: 15%;
    min-height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
                
}

h2{

    color:$rubrik;
    font-size: 1.3rem;
    letter-spacing: 5px;
    margin: 0%;
}

.om-mig {
    height: 100%;
    width: 50%;
    text-align: center;
    line-height: 1.8;

    article{
        padding: 10px;
    }

    .skills {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    ul{

        list-style-position: inside;
        padding-left: 0;
    
        li {
            list-style: none;
            text-align: center;
            line-height: 2.5;
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////
/// Arbetsprover som ska bli en rullande carousel med hjälp av java längre fram /////////
////////////////////////////////////////////////////////////////////////////////////////

.arbetsprover {

    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100%;
    width: 50%;
    text-align: center;
    gap: 50px;
    

    padding-top: 0%;

    .arbetsprov1
    {   
        width: 300px;
        border-radius: 5%;
        opacity: 0.5;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;

        &:hover{
            opacity: 1;
        }
    }

    .arbetsprov2
    {
        width: 300px;
        border-radius: 5%;
        opacity: 0.5;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;

        &:hover{
            opacity: 1;
        }
    }

    .arbetsprov3
    {
        width: 300px;
        border-radius: 5%;
        opacity: 0.5;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;

        &:hover{
            opacity: 1;
        }
    }

}

// #githubDiv{
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     width: 100%;
//     height: 40wh;
//     padding: 20px;
//     gap: 20px;
// }

// .repolink{
//     background-color: snow;
//     color: black;
//     padding: 20px;
//     margin: 20px;
//     display:block;
//     border: solid 1px black;
//     border-radius: 20px;
//     text-decoration: none;
//     font-size: 1rem;
// }


/////////////////////////////////////////////////////////////////////////////
////////////////////  Footer med sociala medier //// ///////////////////////
/////////////////////////////////////////////////////////////////////////////

footer {
    background-color: rgba(0, 128, 128, 0.4);
    padding-top: 20px;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.konamiCode {
    color:rgba(100, 156, 156, 0.4);
    font-weight: bolder;
    font-size: 0.01rem;
}
.konamiCode:hover{
    color: blanchedalmond;
}

.email {
    margin: 10px;

    &:hover{
        border: 1px solid whitesmoke;
        border-radius: 50%;
    }
}

.linkedin {
    margin: 10px;
    &:hover{
        border: 1px solid whitesmoke;
        border-radius: 5%;
    }
}

.github{
    margin: 10px;
    &:hover{
        border: 1px solid whitesmoke;
        border-radius: 50%;
    }
}

.secretContainer{
    position: fixed;
    bottom: -1000px;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.secret{
    position: relative;
    z-index: 99;
}
