body{
    background-color: black;
    color: whitesmoke;
    letter-spacing: 2px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/////////////////////////////////////////////////////////////////////////////
////////////////////  Header med profilbild och titel //// //////////////////
/////////////////////////////////////////////////////////////////////////////

header {

    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    background-color: black;

}

#languageBtn{
    position: absolute;
    background-color: palevioletred;
    color: whitesmoke;
    border: none;
    left: 20px;
    top: 20px;
    z-index: 999;
    border-radius: 15px;
    transition: all;
    transition-duration: 0.2s;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8rem;
    padding: 7px;
    letter-spacing: 3px;
    cursor: pointer;

    &:hover{
        scale: 1.2;
        transform: scale(1.2);
    }

}

h1{
    
    position: absolute;
    font-size: 5rem;
    color:$rubrik;
    font-family: 'Ubuntu', sans-serif;
    z-index: 98;
    bottom: 10px;
    margin: 0%;
    letter-spacing: 5px;
    opacity: 0.9;
}

.min-bild{
        border-radius: 50%;
        position: absolute;
        width: 300px;
        bottom: 10px;
        border: palevioletred 6px solid;
}


/////////////////////////////////////////////////////////////////////////////
////////////////////  Main med två sektioner vänster och höger //// /////////
/////////////////////////////////////////////////////////////////////////////

main {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    row-gap: 15%;
    min-height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
                
}

h2{
    color: palevioletred;
    font-size: 1.3rem;
    letter-spacing: 5px;
    margin: 0%;
}

.om-mig {
    height: 100%;
    width: 50%;
    text-align: center;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    article{
        padding: 10px;
    }

    .skills {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    ul{

        list-style-position: inside;
        padding-left: 0;
    
        li {
            list-style: none;
            text-align: center;
            line-height: 2.5;
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////
/// Arbetsprover som ska bli en rullande carousel med hjälp av java längre fram /////////
////////////////////////////////////////////////////////////////////////////////////////

.arbetsprover {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    text-align: center;
    gap: 30px;
    padding: 0;

    .decorationLine{
        width: 100%;
        height: 1px;
        background-color: palevioletred;
        margin: 10px;
    }

    .arbetsprovContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }

    .arbetsprov1Container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }

    .arbetsprov2Container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }

    .arbetsprov3Container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }

    .arbetsprov4Container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }

    .toolsUsed{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: fit-content;
    }

    .arbetsprov
    {   
        width: 200px;
        border-radius: 10px;
        border: 1px solid black;
        
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:hover{
            transform: scale(1.2);
        }
    }

    .arbetsprov1
    {   
        width: 200px;
        border-radius: 10px;
        border: 1px solid black;
        
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:hover{
            transform: scale(1.2);
        }
    }

    .arbetsprov2
    {
        width: 200px;
        border-radius: 10px;
        border: 1px solid black;
     
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:hover{ 
            transform: scale(1.2); 
        }
    }

    .arbetsprov3
    {
        width: 200px;
        border-radius: 10px;
        border: 1px solid black;
    
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:hover{
            transform: scale(1.2);
        }
    }

    .arbetsprov4
    {
        width: 200px;
        border-radius: 10px;
        border: 1px solid black;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:hover{
            transform: scale(1.2);
        }
    }

}


/////////////////////////////////////////////////////////////////////////////
////////////////////  Footer med sociala medier //// ///////////////////////
/////////////////////////////////////////////////////////////////////////////

footer {
    
    background-color: black;
    padding-top: 20px;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.konamiCode {
    color:black;
    font-weight: bolder;
    font-size: 0.5rem;
}
.konamiCode:hover{
    color: palevioletred;
}

.email {
    margin: 10px;
    border: 2px solid palevioletred;
    border-radius: 50px;
    transition: scale;
    transition-duration: 0.3s;

    &:hover{
        border: 2px solid whitesmoke;
        border-radius: 50px;
        transform: scale(1.4);
        scale: 1.2;
    }
}

.linkedin {
    margin: 10px;
    border: 2px solid palevioletred;
    border-radius: 10px;
    transition: scale;
    transition-duration: 0.3s;

    &:hover{
        border: 2px solid whitesmoke;
        border-radius: 10px;
        transform: scale(1.4);
        scale: 1.2;
    }
}

.github{
    margin: 10px;
    border: 2px solid palevioletred;
    border-radius: 50px;
    transition: scale;
    transition-duration: 0.3s;

    &:hover{
        border: 2px solid whitesmoke;
        border-radius: 50px;
        transform: scale(1.4);
        scale: 1.2;
    }
}

.secretContainer{
    position: fixed;
    bottom: -1000px;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.secret{
    position: relative;
    z-index: 99;
}
